body {
    margin: 0;
    background: url(img/note.png);
    color: #222;
}
img {
    height: auto;
    width: 100%;
    vertical-align: top;
    border-radius: .25rem;
}
input {
    font-size: 1rem;
}
/* Button */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: .25rem;
    border: 1px solid transparent;
}
.btn-blue {
    color: #FFF;
    background-color: #037DD8;
    border-color: #0771C1;
}
.btn-blue:hover {
    background-color: #0771C1;
    border-color: #0363AC;
}
.btn-blue-o {
    color: #0771C1;
}
.btn-blue-o:hover {
    color: #115588;
}
.btn-white {
    color: #8590A6;
    background-color: #FFF;
    border-color: #9DA3A6;
}
.btn-white:hover {
    color: #666;
    background-color: #F5F6F9;
}
.btn-white-o {
    color: #8590A6;
}
.btn-white-o:hover {
    color: #666;
}
.btn-red-o {
    color: #D43F3A;
}
.btn-red-o:hover {
    color: #9c2c28;
}
.btn-red {
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}
.btn-red:hover {
    background-color: #DA4242;
    border-color: #DA4242;
}
.btn-black {
    color: #FFF;
    background-color: #262626;
    border-color: #262626;
}
.btn-black:hover {
    background-color: #333;
    border-color: #333;
}
.btn-black-o {
    color: #262626;
}
.btn-black-o:hover {
    color: #333;
}
.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
box, tag, .btn {
    cursor: pointer;
}

#top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background: rgba(255,0,0,0.6);
    color: white;
}
#top .btn-back {
    left: 1rem;
    position: absolute;
}

#classify tag {
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: .125rem;
}
#classify tag:hover {
    color: rgba(255,0,0,0.6);
    background-color: rgba(230,231,236,0.66);
    border-color: #E6E7EC;
}

#more {
    display: none;
}
#more box {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1rem solid transparent;
    width: 50%
}
#more box img {
    opacity: 0.53;
}
#more box text {
    position: absolute;
    font-size: 1.1rem;
    color: white;
}
#more box .name {
    top: 0;
    border-radius: .25rem;
    width: 100%;
    text-align: center;
    word-break: break-word;
    background: rgba(255,0,0,0.6);
}
#more box .money {
    bottom: 1rem;
    left: 1rem;
}
#more box .time {
    bottom: 1rem;
    right: 1rem;
}
#more .btn {
    padding: .3rem 1rem;
    margin: 1rem;
}
#more .btn-box input {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: right;
    border: 0;
    padding: 0;
    outline: 0;
    background: transparent;
    width: 2rem;
}
#more .btn-box text {
    height: 1.44rem;
}

#edit val {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
}
#edit val input {
    border-radius: .25rem;
    border-style: none;
    outline-style: none;
    padding: 1rem;
    background-color: transparent;
    width: 70%;
}
#edit val input:hover {
    background: rgba(214, 219, 223, 0.2);
}
#edit val input:focus {
    background: rgba(214, 219, 223, 0.7);
    color: rgb(0, 0, 0);
}
#edit val text {
    width: 20%;
    color: #8590A6;
    text-align: right;
}
#edit type {
    margin: 1rem;
    padding: .3rem;
    border-radius: .25rem;
    background: #abb9d6;
}

@media (min-width: 1000px) {
    #classify {
        width: 80%;
        margin: 0 auto;
    }
    #more box {
        width: 33.333333%
    }
}
